BAOTA_PANEL_URL=https://8.160.187.243:8888/367a797b
BAOTA_USERNAME=user
BAOTA_PASSWORD=
BAOTA_NO_PROXY=8.160.187.243
BAOTA_PROJECT_NAME=scheduling_paiyide_cc
PRODUCTION_SITE_URL=https://scheduling.paiyide.cc
PRODUCTION_SSH_HOST=8.160.187.243
PRODUCTION_SSH_PORT=22
PRODUCTION_SSH_USER=root
PRODUCTION_SSH_KEY=/absolute/path/to/codex_scheduling_paiyide_deploy
